<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="../static/VNell-Ai LOGO.png" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
</head>


<body>
  <div class="container-fluid h-100">
    <div class="user_info">
      <p class="text-style-nellai">Dashboard</p>
    </div>
    <div class="row justify-content-center h-20">
      <div class="col-md-8 col-xl-6 chat">
        <div class="card">

          <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
              <div class="text-center">
                Dashboard
              </div>
            </div>
          </div>
          <div id="messageFormeight" class="card-body msg_card_body">


          </div>
          <div class="card-footer">
            <form id="upload-form" method="POST" enctype="multipart/form-data">
              <input type="file" id="upload-file" name="file" hidden>
              <label for="upload-file" class="btn btn-primary">Choose File</label>
              <button type="submit">Upload File</button>
            </form>
            <form id="messageArea" class="input-group">
              <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off"
                class="form-control type_msg" required />
              <div class="input-group-append">
                <button type="submit" id="send" class="input-group-text send_btn"><i
                    class="fas fa-location-arrow"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright footer">
    <div>
      Use with caution. Powered By
      <img height="20px" src="{{ url_for('static', filename='PS_Logo_Orange.png')}}">
    </div>
  </div>

  <script>
    $(document).ready(function () {
      function scrollToLastElement() {
        var container = $('#messageFormeight');
        var lastItem = container.find('.msg_cotainer_send:last');
        container.scrollTop(lastItem.offset().top - container.offset().top + container.scrollTop());
    }
      function displayCSV(data) {
        var displayDiv = document.getElementsByClassName('tableFromCSV');
        var tableHtml = '<table border="1"><thead><tr>';

        Object.keys(data[0]).forEach(function (column) {
          tableHtml += '<th>' + column + '</th>';
        });
        tableHtml += '</tr></thead><tbody>';

        data.forEach(function (row) {
          tableHtml += '<tr>';
          Object.values(row).forEach(function (value) {
            tableHtml += '<td>' + value + '</td>';
          });
          tableHtml += '</tr>';
        });

        tableHtml += '</tbody></table>';

        displayDiv[displayDiv.length -1].innerHTML = tableHtml;
      }

      $("#upload-form").submit(function (e) {
        e.preventDefault();  // Prevent default form submission
        let formData = new FormData(this);
        $.ajax({
          url: "/upload",
          type: "POST",
          data: formData,
          contentType: false,  
          processData: false,  
          success: function (response) {
            // Handle success
            alert("File uploaded!");
            console.log(response);
          },
          error: function (error) {
            alert("Invalid file type! Please upload a CSV file.");
            console.log(error);
          }
        });
      });

      $("#messageArea").on("submit", function (event) {
        var rawText = $("#text").val();

        var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + `</div><div class="img_cont_msg"><img src="{{ url_for('static', filename='user_img.jpeg') }}" class="rounded-circle user_img_msg"></div></div>`;


        $("#text").val("");
        $("#messageFormeight").append(userHtml);
        var loadingHtml = `<div id="load" class="d-flex justify-content-start mb-4 loading"><div class="img_cont_msg"><img src="{{ url_for('static', filename='user_img.jpeg') }}" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">Loading...</div></div>`;
        $("#messageFormeight").append($.parseHTML(loadingHtml));

        $.ajax({
          data: {
            query: rawText,
          },
          type: "POST",
          url: "/ask",
        }).done(function (data) {
          console.log(data);
          var csv_data = data.csv;
          var botHtml = `<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="{{url_for('static', filename='user_img.jpeg')}}" class="rounded-circle user_img_msg"></div>
          <div class="msg_cotainer msg_card_body">${data.response}
            
          <a href="${data.csv}" class="btn btn-primary">Download CSV</a>
          <div class="tableFromCSV">

            </div>
          <br>
          <img class="graph" src="data:image/png;base64,">
          </div>
          </div>`;
          $("#load").remove();
          $("#messageFormeight").append($.parseHTML(botHtml));
          displayCSV(data.records);
          scrollToLastElement();
          const graph_data = data.graph;
          $(".graph").attr("src", "data:image/png;base64," + graph_data);
        });
        event.preventDefault();

      });
    });

  </script>
</body>

</html>